@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme{
  --font-primary: "Merriweather", serif;
  --font-secondary: "Open Sans", sans-serif;
}

.floating {
  display: inline-block;
  animation: float 3s ease-in-out infinite;
  transition: transform 0.3s ease;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}