@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Manrope", sans-serif;
}

.floating {
  display: inline-block;
  animation: float 3s ease-in-out infinite;
  transition: transform 0.3s ease;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}